*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');
@import url(/lineshare/general/css/root.css);

@font-face {
    font-family: 'LEMONMILK';
    font-style: normal;
    font-weight: normal;
    src: url("../../general/assets/font/lemon_milk/LEMONMILK-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'LEMONMILK';
    font-weight: bold;
    src: url("../../general/assets/font/lemon_milk/LEMONMILK-Bold.otf") format("opentype");
}


@font-face {
    font-family: 'LEMONMILK';
    font-weight: lighter;
    src: url("../../general/assets/font/lemon_milk/LEMONMILK-Light.otf") format("opentype");
}

html{
    background-color: var(--color-bianco);
}

main img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}




body{
    
    font-family: "Sora",sans-serif;
    background-color: var(--color-bianco);
}

.containerOnda{
    height: 6480px;
    width: 100%;
}

.containerCerca{
    position: absolute;
    width: 100%;
    height: 75px;
    bottom: 200px;
    left: 50%;
    translate: -50% 0;
    display: flex;
    justify-content: flex-end;
}

.containerCerca .bigContainer{
    position: relative;
    width: 50%;
    height: 100%;
    margin-right: 180px;
}

.containerCerca .bigContainer form{
    width: 100%;

    display: flex;
    justify-content: flex-end;
    
}

.containerCerca .bigContainer form .input{
    position: relative;
    width: fit-content;
    height: 100%;
    background-color: rebeccapurple;
}

.containerCerca .bigContainer form .input i{
    position: absolute;
    left: 12.5px;
    top: 50%;
    translate: 0 -50%;
    color: black;
}

.containerCerca .bigContainer form input{
    outline: none;
    height: 50px;
    padding-left: 40px;
}

.containerCerca .bigContainer form input[type="submit"]{
    padding-left: 0px;
}


.containerInfo{
    
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.containerItem{

    width: 280px;
    height: 250px;
    aspect-ratio: 1/1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-500);
    border-radius: 30px;
    color: var(--color-bianco) !important;
    margin: 0 50px;
    transition: margin .25s, padding .25s;

}

.containerItem .containerImg{
    height: 30%;
    width: 30%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerItem .containerImg i{
    font-size: var(--big-icon);
 
}

.containerItem .titolo{

    height: 10%;
    width: 100%;
    margin: 5px;
    font-weight: bold; 
    font-size: var(--big-text);
}

.containerItem .testo{

    height: 60%;
    width: 100%;
    margin: 5px;
    font-size: var(--medium-text);
}

.containerInfo span{
    width: 2%;
    height: 10px;
}

.containerWave{
    display: flex;
    flex-direction: column;
}

/* sezione 2 */
.sezione-2{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}



.sezione-2 .centro{    
    width: 100%;
    height: 600px;
    background-color: var(--primary-500);
}


/*MAIN*/

.rimuoviElemento{
    opacity: 0;
    pointer-events: none;
    cursor: default;
    z-index: -10;
}

main .containerPopUP {
    width: 450px;
    height: 250px;
    position: fixed;
    background: white;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 20;
    box-shadow: 5px 5px 43px 5px rgba(28,28,28,0.47);
    transition: .5s;    
    overflow: hidden;
}

main .containerPopUP i{
    color: black;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
}

main .containerPopUP span:nth-child(2){
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);

}

main .containerPopUP .progressBar{
    position: absolute;
    background-color: var(--primary-200);
    bottom: 0;
    height: 20px;
    width: 20px;
    animation: progresso 8s linear 0.5s 1 normal forwards;
    z-index: 25;

}

@keyframes progresso{
    0%{
      width: 20px;
    }
    100%{
        width: 100%;
    }
  }

main .containerPopUP h1{
    text-align: center;
    font-family: 'LEMONMILK', 'Sora';

}

main .containerPopUP p{
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.containerCarte{
    width: 100%;
    height: 275px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    top: 193px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: width, height .25s;
}

.containerCarte .carta {
    width: 450px;
    /* background-color: var(--color-bianco); */
    border-radius: 20px;
    height: 100%;
    /* box-shadow: 5px 5px 43px 5px rgba(28,28,28,0.47); */
    transition: .25s;
}

.containerCarte .carta .sopra {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--primary-800); */
    color: var(--color-bianco);
    height: 50px;
    border-radius: 20px 20px 0 0;
    font-family: 'LEMONMILK';
    font-weight: bold;
    font-size: 50px;
    /* background: navajowhite; */
}
.containerCarte .carta .testo {
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: calc(100% - 50px);
    color: var(--color-bianco);
    margin-top: 20px;
}

.containerCarte .carta .testo p {
    font-size: 25px;
    padding: 0 20px;
    text-align: center;
    transition: font-size .25s;
}

.containerCarte .carta .testo span span{
    font-weight: 200;
}

.containerPercentuali {
    width: 600px;
    height: auto;
    position: absolute;
    top: 800px;
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translate(-50%,0);
    color: black;
    font-size: 40px;
    font-family: 'LEMONMILK';
    font-weight: bold;
    /* background-color: var(--color-bianco); */
    /* box-shadow: 5px 5px 43px 5px rgba(28,28,28,0.47); */
    border-radius: 20px;
    transition: width .25s;
}

.containerPercentuali .item{
    transition: font-size .25s;
}

.bigItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bigItem i{
    color: black;
    margin: 0 10px;
}

.bigItem .item:nth-child(1){
    font-size: 40px;
    margin-top: 25px;
}

.bigItem .item:nth-child(2){
    font-size: 44px;
}

.bigItem .item:nth-child(3){
    font-size: 48px;
}

.bigItem .item:nth-child(4){
    font-size: 52px;
}

.bigItem .item:nth-child(5){
    font-size: 56px;
     color: black;   
}

.containerPercentuali .sinistra{
    align-items: flex-end;
}  

.containerPercentuali .centro{
    align-items: center;

}

.containerPercentuali .destra{
    align-items: baseline;

}

.containerPercentuali p {
    position: absolute;
    margin-top: -46px;
    font-size: 56px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--primary-800); */
    color: var(--primary-400);
    border-radius: 20px 20px 0 0;
    white-space: nowrap;
}
/* schermi piccoli */
@media screen and (max-width: 1024px){      

    .containerCarte {
        height: 225px; 
    }
    .containerCarte .carta{
        margin: 0 10px;
    }

    .containerCarte .carta .sopra{
        font-size: 40px;
    }

    .containerCarte .carta .testo{
        margin-top: 0px;
    }

    .containerCarte .carta .testo p{
        font-size: 20px;
    }

    .containerPercentuali {
        width: 500px !important;
    }

    .bigItem .item:nth-child(1){
        font-size: 30px;
        margin-top: 25px;
    }
    
    .bigItem .item:nth-child(2){
        font-size: 34px;
    }
    
    .bigItem .item:nth-child(3){
        font-size: 38px;
    }
    
    .bigItem .item:nth-child(4){
        font-size: 42px;
    }
    
    .bigItem .item:nth-child(5){
        font-size: 46px;
         color: black;   
    }

    :root{

        --medium-text: 14px;
        --big-text: 17px;
        --big-icon: 55px;

    }

    .containerItem{
        margin: 0 10px;
         width: 250px;
        height: 220px; 
        padding: 20px;
    }


}

/* tablet */
@media screen and (max-width: 768px){      
    
    .containerCarte {
        flex-direction: column;
        height: 420px;
        top: 135px;
        margin-top: 50px;
    }
    .containerCarte .carta{
        margin: 20px 0;
        width: 350px;
    }

    .containerCarte .carta p{
        font-size: 17px !important;
    }

    .containerCarte .carta .sopra{
        font-size: 50px;
        margin-bottom: 10px;
    }

    .containerPercentuali {
        width: 400px !important;
    }

    .bigItem .item:nth-child(1){
        font-size: 20px;
        margin-top: 25px;
    }
    
    .bigItem .item:nth-child(2){
        font-size: 24px;
    }
    
    .bigItem .item:nth-child(3){
        font-size: 28px;
    }
    
    .bigItem .item:nth-child(4){
        font-size: 32px;
    }
    
    .bigItem .item:nth-child(5){
        font-size: 36px;
         color: black;   
    }


:root{

    --medium-text: 10px;
    --big-text: 15px;
    --big-icon: 40px;

}

.containerBig{
    width: 100%;
    height: auto;
    overflow: auto;
}

.containerInfo{
    width: fit-content
}

.containerItem{
    margin: 5px 5px;
    width: 200px;
    height: 170px;
    padding: 20px;
    
}

.containerItem .containerImg{
    height: 20%;
    width: 20%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerItem .titolo{

    height: 20%;
    width: 100%;
    margin: 5px;
    font-weight: bold; 
    font-size: var(--big-text);
}

.containerItem .testo{

    height: 70%;
    width: 100%;
    margin: 5px;
    font-size: var(--medium-text);
}

}

/* telefono */
@media screen and (max-width: 480px){

    /* .containerPercentuali {
        width: 250px !important;
        padding: 10px;
        margin-top: 30px;
    } */
/* 
    .bigItem .item:nth-child(1){
        font-size: 15px;
        margin-top: 25px;
    }
    
    .bigItem .item:nth-child(2){
        font-size: 17px;
    }
    
    .bigItem .item:nth-child(3){
        font-size: 19px;
    }
    
    .bigItem .item:nth-child(4){
        font-size: 21px;
    }
    
    .bigItem .item:nth-child(5){
        font-size: 23px;
         color: black;   
    } */

    .containerPercentuali > p{
        font-size: 40px;
    }

    main .containerPopUP {
        width: 80%;
        height: 250px;
        position: fixed;
        background: white;
        border-radius: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 20;
        box-shadow: 5px 5px 43px 5px rgba(28,28,28,0.47);
        transition: .5s;    
        overflow: hidden;
    }
  
}